@{
    ViewBag.Title = "DashBoard";

}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Funcionalidades</h1>
        </div>
        <div class="col-md-6 col-12">
            <div class="m-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Vacaciones</h5>
                        <p class="card-text"><a href="@Url.Action("RegistroVacaciones", "Home")">Registro Vacaciones</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="m-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nominas</h5>
                        <p class="card-text"><a href="@Url.Action("VerBoletas", "Home")">Ver Boletas</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>