
@{
    ViewBag.Title = "Mis Solicitudes - Jefe";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Mis Solicitudes - Jefe</h1>
        </div>
        <div class="col-12">
            <div class="table-responsive m-3">
                <table class="table w-100 table-responsive-md" id="solicitudesJefe">
                    <thead>
                        <tr>
                            <th><p>Nro_Solicitud</p></th>
                            <th><p>Personal_Id</p></th>
                            <th><p>Nombres</p></th>
                            <th><p>Apellido_Paterno</p></th>
                            <th><p>Apellido_Materno</p></th>
                            <th><p>Email</p></th>
                            <th><p>Nro_Dias</p></th>
                            <th><p>Fecha_Inicio</p></th>
                            <th><p>Fecha_Fin</p></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

