
@{
    ViewBag.Title = "Ver Boletas";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Ver Boletas</h1>
        </div>
        <div class="col-12">
            @*<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#solicitarVacacionesModal">Solicitar Vacaciones</button>*@
        </div>
        <div class="col-12">
            <p><a href="@Url.Action("GenerarBoleta", "Home")">Reporte boleta</a></p>
        </div>
    </div>
</div>
<a href="~/Views/Home/VerBoletas.cshtml">~/Views/Home/VerBoletas.cshtml</a>